<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="https://philipvuong.netlify.com/">Philip Vuong</a>.
</p>
<br />
<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'philip.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Philip Vuong</h2>
    <br />
    <p>
      Philip Vuong is a current Electrical Engineer looking to explore the realm of software development.  Philip starting coding at the ripe age of 19 and started focusing on web development in mid 2018, Philip is looking forward to all the adventures this field has to offer. 
    </p>
  
  </div>
</div>
<br class="clear">

</div>
<br class="clear" />
<br />
<br />
<br />
<br />