<div class="row">
  <aside class="col-lg-6">
    <section class="user_info">
      <h1> 
        <%= gravatar_for @user %>  
        <%= @user.name %> 
      </h1>
      <h3> <%= @user.email %> </h3>  
      <h5> Member since: <%= @user.created_at.strftime("%B %d, %Y") %> </h5>    
    </section>
  </aside>
</div>
<br />
<br />
<br />
<br />
<br />

